main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > div {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}

#secao-cadastro{
    max-width: 340px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formulario{
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    justify-content: space-between;
}


.informacao-do-aplicativo{
    font-weight: 400;
    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-sm);
}

#secao-instalacao{
    gap: 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

#secao-instalacao img{
    width: 133px;
    height: 39px;
}


.estilo-formulario{
    max-width: 340px;
}
#formulario > div{
    width: 100%;
}

#formulario > div > label{
     font-size: var(--tamanho-fonte-sm);
     color: var(--cor-cinza-escuro2);
     font-weight: 500;
     padding-bottom: 10px;
}

#formulario > p{
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-preto);
    text-transform: uppercase;
}
.formulario-botao-azul{
    width: 100%;
}
#formulario > a, #secao-cadastro > p > a{
    text-decoration: none;
    color: var(--cor-azul);
}
#secao-cadastro > p{
    font-size: var(--tamanho-fonte-md);
}

